<div class="form_row">
	<div class="checkbox_wrapper same_address">
	    <label class="checkbox">
	        <input class="checkbox-input user_fields" type="checkbox" name = "same_address" data-name="same_address_part2" id="same_address" checked="checked">
	        <span class="checkbox-label"></span>
	        <div>Адрес регистрации совпадает с адресом проживания</div>
	    </label>
	</div>
	<div class="clear"></div>
</div>
