<div class="name_lbl">
                Паспортные данные
            </div>
            <div class="form_row">
                <label class="w_293 first">
                    <input class="input user_fields surname" type="number" name="passport_code" spellcheck="false" placeholder="Серия номер *"
                    value = <%=params[:passport_code]%>
                    >
                    <span class="error_text"></span>
                </label>
                <label class="w_293">
                    <input class="input user_fields name" type="date" name="passport_date" spellcheck="false" placeholder="Дата выдачи*"
                    value = <%=params[:passport_date]%>>
                    <span class="error_text"></span>
                </label>
                <label class="w_293">
                    <input class="input user_fields patronymic" type="text" name="birth_place" spellcheck="false" placeholder="Место рождения*"
                    value = <%=params[:birth_place]%>>
                    <span class="error_text"></span>
                </label>
                <div class="clear"></div>
            </div>

            <div class="form_row">
                <label class="w_293 first">
                    <input class="input user_fields mobile_phone" type="date" name="birth_date" spellcheck="false" placeholder="Дата рождения*" min="1907-01-02" max="2001-01-02"
                    value = <%=params[:birth_date]%>>
                    <span class="error_text"></span>
                </label>
               <!--  <label class="w_293">
                    <input class="input user_fields active email" type="text" name="email" spellcheck="false" placeholder="Код подразделения*">
                    <span class="error_text"></span>
                </label>
                <label class="w_293">
                    <input class="input user_fields desired_amount" type="text" name="desired_amount" spellcheck="false" placeholder="Желаемая сумма займа*">
                    <span class="error_text"></span>
                </label> -->
                <div class="clear"></div>
            </div>
            <!-- <div class="checkbox_wrapper">
                <label class="checkbox">
                    <input class="checkbox-input user_fields agree_rules" type="checkbox" name="agree_rules" data-name="agree_rules" checked="checked">
                    <span class="checkbox-label"></span>
                    <div>C условиями <a download="download" href="https://unicom24.ru/media_files/usloviya_peredachi_info/download/">Оферты</a> ознакомился и согласен
                    </div>
                    <span id="check_error" class="error_text"></span>
                </label>
            </div> -->

            <div class="clear"></div>

            <button class="to_additional_info btn submit_btn b_next">Далее<i class="i-arrow"></i></button>