<div class="form_row">
    <label class="w_293 first">
        <input class="input user_fields surname" type="text" name="fact_city" spellcheck="false" placeholder="Город*"
        value = <%= params[:fact_city]%>>
        <span class="error_text"></span>
    </label>
    <label class="w_293">
        <input class="input user_fields name" type="text" name="fact_street" spellcheck="false" placeholder="Улица*"
        value = <%= params[:fact_street]%>>
        <span class="error_text"></span>
    </label>
    <label class="w_293">
        <input class="input user_fields patronymic" type="text" name="fact_house" spellcheck="false" placeholder="Номер дома*"
        value = <%= params[:fact_house]%>>
        <span class="error_text"></span>
    </label>

    <div class="clear"></div>
</div>
<div class="form_row">
    <label class="w_293 first">
        <input class="input user_fields surname" type="text" name="fact_flat" spellcheck="false" placeholder="Номер квартиры*"
        value = <%= params[:fact_flat]%>>
        <span class="error_text"></span>
    </label>
    <div class="clear"></div>
</div>