<div id="bg_top"></div>
<div id="content">
    <div class="loader_wrapper">
        <div class="bg"></div>
        <div class="img_load"></div>
    </div>
    <div id="qiwi_wrapper">
        <div id="pages_wrapper"><div class="page_container"><div class="steps"><div id="head">
</div>
<div class="steps-container">
    <div id="user_block">
        <span id="text_c">Ваши данные</span>
    </div>
    <%= render "templates/form_part2"%>
</div>
</div></div>
</div>
    </div>
</div>